.head
{
    padding: 15%;
    color: white;
    background-color: #192733;
    text-align: center;
}

.main
{
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20%;
    color: black;
    background-color: whitesmoke;
    text-align: center;
}

img
{
    border: 2px solid white;
    border-radius: 50px;
}

.foot
{
    padding: 7.5%;
    color: white;
    background-color: #192733;
    text-align: center;
}
