.head
{
    padding: 15%;
    color: white;
    background-color: #192733;
    text-align: center;
}

.main
{
    padding: 10% 0% 20% 5%;
    color: black;
    background-color: whitesmoke;
}

.foot
{
    padding: 7.5%;
    color: white;
    background-color: #192733;
    text-align: center;
}
