.header
{
    padding: 10%;
    color: white;
    background-color: #192733;
    text-align: center;
}

.main
{
    padding: 40% 0% 40% 10%;
    color: black;
    background-color: whitesmoke;
}

.footer
{
    padding: 5%;
    color: white;
    background-color: #192733;
    text-align: center;
}
